<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="css/auth.css">
</head>
<body>
    

    <form class="container">

        <h1>تسجيل الدخول</h1>

        <input type="email" placeholder="البريد الالكتروني" name="email">
        
        <input type="password" placeholder="كلمة المرور" name="password">

        <div class="btns">
            <a href="#">انشاء حساب ؟</a>
            <button>تسجيل</button>
        </div>

    </form>

</body>
</html>